<ion-content>
  <div *ngIf="job && job.length < 1">
    <p class="none">No record found</p>
  </div>
  <ion-searchbar showCancelButton="always" #mySearchbar (ionInput)="getList($event)"></ion-searchbar>

  <ion-item  *ngFor="let j of job" (click)="details(j)">
    <ion-avatar item-start width="20px" height="20px" class="ion-avatar">
      <img src="assets/img/leave status (2).png"  width="20px" height="20px">
    </ion-avatar>
    <p style="color:blueviolet" ALIGN=RIGHT ><b>{{ notifications[j.Id] ? 'New ': ''}}</b></p>
    <h3>PR NO: {{j.pr_no}}</h3>
    <p>Project Name: {{j.Project_Name}}</p>
    <p>Site Id: {{j.Site_ID}}</p>
    <p>Side Code: {{j.Site_Name}} </p>
    <p>Created At: {{j.created_at}}</p>


  </ion-item>

</ion-content>
