<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Job</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-content">
  <section class="home-container">
    <ion-list>

      <ion-item (click)='newjob()'>
        <button class="round-button button6" >
          <img src="assets/img/admin (1).png" height="30px" width="30px">
        </button>
        <ion-badge color="danger" *ngIf="newBadge > 0" item-end>{{ newBadge }}</ion-badge>
        New Job
      </ion-item>

      <ion-item (click)='job()'>
        <button class="round-button button6" >
          <img src="assets/img/myapproval (2).png" height="30px" width="30px">
        </button>
        <ion-badge color="danger" *ngIf="jobBadge > 0" item-end>{{ jobBadge }}</ion-badge>

        My Job
      </ion-item>

    </ion-list>
  </section>
</ion-content>
