page-myapproveadvance {
    .ion-content{
        background: #f1f2f6;

       }
       .p{
        color: #78e08f;
      }
      .detail{
          font-weight: bold;
          text-transform: capitalize;
      }
      .ion-avatar{
        background: #3498db;
        border-radius: 70px;
      }
}
