page-leaverejectdetail {
  .thumbnail-container {
    overflow-x:scroll;
    width:100%;
    // padding: 0 15px;
}
.thumbnail-list {
    white-space:nowrap;
    list-style: none;
    padding: 0;
}
.thumbnail-list li {
    display: inline-block;
}
.thumbnail-image {
    display: block;
    padding:2px;
    max-width: 100px;
    height:auto;
}
}
