page-mypendingadvance {
    .ion-content{
        background: #f1f2f6;
       }
    .p{
        color: #fed330;
    }
    .detail{
        text-transform: capitalize;
        font-weight: bold;
    }
    .ion-avatar{
        background: #3498db;
        border-radius: 70px;
    }
    .none{
        position: relative;
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: grey;
    }
}
