
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Advance</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content class="ion-content">

  <section class = "home-container">
    <p class="p"> My Application<br></p>

    <ion-list>
      <ion-item (click)='siteadvance()'>
        <button class="round-button button1" >
          <img src="assets/img/calendar (2).png" height="30px" width="30px">
        </button>
        Site Advance
      </ion-item>
    </ion-list>

    <p class="p">Advance Status</p>
    <ion-list>
      <ion-item (click)='mystatus()'>
        <button class="round-button button6">
          <img src="assets/img/myapproval (2).png" width="30px" height="30px">
        </button>
        <ion-badge color="danger" *ngIf="allmyAdvanceBadgeCount > 0" item-end>{{ allmyAdvanceBadgeCount }}</ion-badge>
        My Advance Status
      </ion-item>
      <ion-item (click)='adminstatus()'>
        <button class="round-button button6">
          <img src="assets/img/admin (1).png" width="30px" height="30px">
        </button>
        <ion-badge color="danger" *ngIf="pendingAdvanceBadgeCount > 0" item-end>{{ pendingAdvanceBadgeCount }}</ion-badge>
          Admin Advance Status
      </ion-item>
    </ion-list>

  </section>

</ion-content>
  